/*
cream: #e7e0d3
gold: #e7c061
slate: #272425

bold font:;
soul of vodka
ironick
francois one
oktober
falkin
alathena

sans-serif
souci sans
bittersweet
wanda
*/

@font-face {
	font-family: 'SoulofVodka';
	src: url('fonts/soul-of-vodka.ttf');
}

@font-face {
  font-family: 'Ironick';
  src: url('fonts/ironick-normal.regular.ttf');
}

@font-face {
  font-family: 'Bittersweet';
  src: url('fonts/bittersweet.regular.ttf');
}

@font-face {
  font-family: 'Bittersweet';
  src: url('fonts/bittersweet.regular.ttf');
}

body {
	background-color: #e7e0d3;
  font-family: Bittersweet;
  font-size:24px;
}

strong {
  font-family: Ironick;
  font-size:28px;
}

em {
  font-size: 36px;
}

hr {
    border: none;
    border-top: 3px double #e7c061;
    border-width: 5px;
    color: #e7c061;
    overflow: visible;
    text-align: center;
    height: 5px;
}

img {
  width: 200px;
  padding:5px;
  border-style: double;
  border-color: #e7c061;
  border-width: 5px;
}

#title-container {
  width:27%;
  float:left;
  height:100vh;
  position:relative;
}

#title-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;

}


#sidebar {
  width:10%;
  float:left;
  height:100vh;
  position:relative;
}

#menu {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
 }

#body-container{
  width:60%;
  float:left;
  height:100vh;
  position:relative;
}

#content {
  position: absolute;
  top: 50%;
  margin-left:5%;
  margin-right:40%;
  transform: translateY(-50%);
}